.search-container {
  flex-grow: 1;
  max-width: 400px;
}

.user-icon, .cart-icon {
  font-size: 1.7rem;
  cursor: pointer;
}

.login-button {
  width: 80px; /* Increased width */
}

.ecillpse-class {
  width: 1.2rem;
  height: 1.2rem;
}

.ecillpse-font {
  font-size: 0.85rem;
}